@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* :root {
    
} */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header , .card, footer {
    max-width: 850px;
    margin: 0 auto;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: "calistoga" , sans-serif;
    background-color: #9B287B;
    color: white;
}

nav {
    text-align: center;
    background-color: #696773;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navigations a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    padding: 20px;
}

a:hover {
    background-color: white;
    color: black;
}

.bio h2 {
    font-size: 1.5em;
    text-align: center;
    background-color: #9B287B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "patua one" , sans-serif;
}

.bio img {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 20px;
}


p {
    font-size: 20px;
    padding: 20px 20px;
    
}

.bio p {
    margin-right: 10px;
    padding: 20px;
}

.card {
    border: 1px solid rgb(174, 177, 174);
    border-radius: 9px;
    padding-right: 10px;
}


h2 {
    text-align: center;
    font-size: 30px;
    font-family: "patua one" , sans-serif;
    padding-bottom: 10px;
}

figure {
    float: left;
    margin: 20px;
}

figcaption {
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.country p {
    padding: 20px;
}

hr {
    width: 700px;
}










