
body {
    max-width: 450px;
    margin: 0 auto;
    padding: 0;
}


header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #1922a5;
    color: white;
    padding: 15px;
    border-radius: 3px;
    margin:.8rem 0;
}

form {
    background-color: rgb(227, 232, 236);
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

 

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #2136b1;
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: .5rem;
    border-radius: 8px;
}

.myform label {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: .5rem;
}

.myform div {
    padding: .3em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}


.myform input[type="text"], 
.myform textarea,
.myform input[type="date"],
.myform select               
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem; 
    color: #0f0f0f;
    max-width: 400px;
    width: 96%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.myform input[type="radio"],
.myform input[type="checkbox"]
{
    margin-right: 6px;
}


.myform input[type="submit"] {
    border: none;
    border-radius: 6px;
    padding: .8rem;
    margin-top: .5rem;
    box-shadow: 1px 1px 4px #999;
    font-weight: 700;
    margin: 2% 2%;
    background-color: #0a44f1;
    font-size: 20px;
    color: white;
    width: 96%;
}

.myform input[type="submit"]:hover {
    background-color: rgb(102, 25, 202);
    cursor: pointer;
}

.myform span {
    color: blue;
} 

.all span {
    color: black;
    font-style: italic;
}

.myform textarea {
    scroll-padding-block: 10px;
    height: 100px;
}

.ratings {
    display: flex;
    justify-content: space-between;
}


.myform input[type="radio"] {
    display: block;
    text-align: center;
    display: inline-block;
}

.ratings div {
    text-align: center;
}


